*
!.config/
!.config/fish/
!.config/fish/config.fish
!.emacs
!.emacs.d/
!.emacs.d/*
!.gitignore
!.gitconfig
!.vimrc
!.profile
!.inputrc
!.htoprc
!.bash_aliases
!.tmux.conf
!.ext
!.ext/*
!/.weechat/
/.weechat/*
!/.weechat/irc.conf