*
!/.config/fish/config.fish
!/.emacs
!/.emacs.d/packages/
!/.emacs.d/snippets/
!/.gitignore
!/.gitconfig
!/.vimrc
!/.profile
!/.inputrc
!/.htoprc
!/.bash_aliases
!/.tmux.conf
!/.ext/
!/.weechat/irc.conf
!/.weechat/weechat.conf
!/.styles/
!/.slate
!/.grc/
