[user]
  name = logaritmisk
  email = anders.e.olsson@gmail.com

[diff]
  renames = copies

[core]
  autocrlf = false
  safecrlf = false

[branch]
  autosetuprebase = always

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[push]
  default = simple

[alias]
  hlg = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  plg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
